<div ng-controller="<%= names.ctrl %>" class="<%= names.css %>">
	<!-- Map -->
	<div id="{{model.alias}}-google-map" style="width:100%; height:350px;"></div>

	<hr/>

	<!-- Values (ReadOnly) -->
	<!-- http://lodash.com/docs#template -->
	<% _.forEach(prevalues., function(prevalue) { %>
	<div class="value">
		<label for="<%= prevalue.key %>"><%= prevalue.label %></label>
		<input type="text" name="<%= prevalue.key %>" ng-model="model.value.<%= prevalue.key %>" readonly />
	</div>
	<% }); %>

	<div class="value">
        <label for="lat">Lat</label>
        <input type="text" name="lat" ng-model="model.value.lat" readonly/>
    </div>
  
    <div  class="value">
        <label for="lng">Lng</label>
        <input type="text" name="lng" ng-model="model.value.lng" readonly/>
    </div>

    <div  class="value">
        <label for="zoom">Zoom</label>
        <input type="text" name="zoom" ng-model="model.value.zoom" readonly/>
    </div>

    <div class="value">
        <label for="maptype">Type</label>
        <input type="text" name="maptype" ng-model="model.value.maptype" readonly/>
    </div>

</div>
